<center><b>Batch Importer</b></center>
You will find tool in the menu: Tools -> AnBytes -> Batch Importer <br>
<img src='readme_img.png'> <br><br>
How it work?<br><br>
You need select all assets for change settings (use left mouse button and Ctrl (Comand Button)):<br>
<img src='Editor/doc/images/1.png'> <br><br>
Then you need select Import Settings: <br>
<img src='Editor/doc/images/2.png'> <br><br>
And Click Apply. Some times you will see window: <br><br>
<img src='Editor/doc/images/3.png'> <br><br>
You will need click "Revert" not "Apply"!<br><br>
<font style='color:red'>Attention: You will need click "Revert" not "Apply"!</font><br><br>
If you need to read about Import Settings, go to the menu: Help > Reference Manual<br><br>
For Audio Clips:<br>
Reference Manual > Components > Asset Components > Audio Clip<br><br>
For Textures:<br>
Reference Manual > Components > Asset Components > Texture 2D<br>
Reference Manual > Components > Asset Components > Cubemap Texture
<hr>
You can contact with me, having sent the email with a question, wishes or other on the <a href='mailto:anbytes@gmail.com'>anbytes@gmail.com</a>