body {
	margin:0;
	padding:0;
	background-color: #7f7f7f;	
}

#top-bar {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	overflow:hidden;
	background-color:#000;
	height:44px;
	z-index:900;
}
#top-bar .controls {
	float:left;
	margin:9px 0 0 14px;
}
#top-bar .controls .prev {
	float:left;
	background-image: url("../images/top-bar-prev.png");
	width:23px;
	height:26px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 18px 0 0;
}
#top-bar .controls .next {
	float:left;
	background:url("../images/top-bar-next.png") no-repeat 0 0;
	width:23px;
	height:26px;
	text-indent:-9999px;
	overflow:hidden;
}
#top-bar .exit {
	background:url("../images/btn-exit-rms.png") no-repeat 0 0;
	width:103px;
	height:34px;
	overflow:hidden;
	float:right;
	text-indent:-9999px;
	margin:5px 9px 0 0;
}

#container {
	position: absolute;
	top:44px;
}

.screen {
	position:absolute;	
}

.hotspot {
	position:absolute;
	display:block;
	border:#ff0000 3px solid;
	cursor:pointer;
	cursor:hand;
}

.org_logo {
	top: 0;
	left: 29px;
	width: 125px;
	height: 44px;	
}

.org_home_btn {
	top: 47px;
	left: 29px;
	width: 58px;
	height: 30px;	
}

.org_logout_btn {
	top: 0;
	left: 926px;
	width: 61px;
	height: 24px;	
}

.org_manage_btn {
	top: 354px;
	left: 45px;
	width: 206px;
	height: 55px;	
}

.org_devices_btn {
	top: 410px;
	left: 45px;
	width: 206px;
	height: 55px;	
}

.org_reports_btn {
	top: 470px;
	left: 45px;
	width: 206px;
	height: 55px;	
}

#screen14 .org_logout_btn {
	top: 0;
	left: 933px;
	width: 61px;
	height: 24px;	
}

#screen14 .org_manage_btn {
	top: 354px;
	left: 52px;
	width: 206px;
	height: 55px;	
}

#screen14 .org_devices_btn {
	top: 410px;
	left: 52px;
	width: 206px;
	height: 55px;	
}

#screen14 .org_reports_btn {
	top: 470px;
	left: 52px;
	width: 206px;
	height: 55px;	
}

.teacher_logo {
	top: 0;
	left: 29px;
	width: 125px;
	height: 44px;	
}

.teacher_home_btn {
	top: 47px;
	left: 29px;
	width: 58px;
	height: 30px;	
}

.teacher_logout_btn {
	top: 0;
	left: 926px;
	width: 61px;
	height: 24px;	
}

.issues_btn {
	top: 226px;
	left: 45px;
	width: 206px;
	height: 89px;	
}

.manage_btn {
	top: 327px;
	left: 45px;
	width: 206px;
	height: 55px;	
}

.reports_btn {
	top: 384px;
	left: 45px;
	width: 206px;
	height: 55px;	
}

#s1_h1 {
	top: 105px;
	left: 276px;
	width: 699px;
	height: 173px;	
}

#s1_h2 {
	top: 297px;
	left: 274px;
	width: 461px;
	height: 300px;	
}

#s2_h1 {
	top: 489px;
	left: 869px;
	width: 100px;
	height: 44px;	
}

#s3_h1 {
	top: 506px;
	left: 869px;
	width: 100px;
	height: 44px;	
}

#s4_h1 {
	top: 508px;
	left: 869px;
	width: 100px;
	height: 44px;	
}

#s5_h1 {
	top: 507px;
	left: 869px;
	width: 100px;
	height: 44px;	
}

#s6_h1 {
	top: 527px;
	left: 869px;
	width: 100px;
	height: 44px;	
}

#s6_h2 {
	top: 256px;
	left: 275px;
	width: 465px;
	height: 188px;
}

#s7_h1 {
	top: 489px;
	left: 869px;
	width: 100px;
	height: 44px;	
}

#s8_h1 {
	top: 203px;
	left: 713px;
	width: 147px;
	height: 17px;	
}

#s8_h2 {
	top: 528px;
	left: 712px;
	width: 172px;
	height: 44px;	
}

#s8_h3 {
	top: 528px;
	left: 889px;
	width: 80px;
	height: 44px;	
}

#s9_h1 {
	top: 134px;
	left: 274px;
	width: 698px;
	height: 328px;
}

#s9_h2 {
	top: 482px;
	left: 274px;
	width: 340px;
	height: 184px;
}

#s10_h1 {
	top: 200px;
	left: 357px;
	width: 560px;
	height: 25px;
}

#s10_h2 {
	top: 441px;
	left: 81px;
	width: 851px;
	height: 444px;
}

#s10_h3 {
	top: 934px;
	left: 732px;
	width: 175px;
	height: 44px;
}

#s10b_h1 {
	top: 441px;
	left: 81px;
	width: 851px;
	height: 223px;
}

#s10b_h2 {
	top: 715px;
	left: 732px;
	width: 175px;
	height: 44px;
}

#s11_h1 {
	top: 275px;
	left: 531px;
	width: 130px;
	height: 27px;
}

#s11_h2 {
	top: 275px;
	left: 669px;
	width: 123px;
	height: 27px;
}

#s11_h3 {
	top: 321px;
	left: 276px;
	width: 694px;
	height: 297px;
}

#s11b_h1 {
	top: 54px;
	left: 141px;
	width: 768px;
	height: 623px;
}

#s11_h1 {
	top: 275px;
	left: 531px;
	width: 130px;
	height: 27px;
}

#s11_h2 {
	top: 275px;
	left: 669px;
	width: 123px;
	height: 27px;
}

#s11_h3 {
	top: 321px;
	left: 276px;
	width: 694px;
	height: 297px;
}

#s13_h1 {
	top: 218px;
	left: 276px;
	width: 130px;
	height: 414px;
}

#s13_h2 {
	top: 218px;
	left: 679px;
	width: 108px;
	height: 414px;
}

#s13_h3 {
	top: 218px;
	left: 806px;
	width: 143px;
	height: 414px;
}

#s14_h1 {
	top: 295px;
	left: 281px;
	width: 462px;
	height: 302px;
}

#s15_h1 {
	top: 221px;
	left: 276px;
	width: 694px;
	height: 184px;
}

#s16_h1 {
	top: 241px;
	left: 276px;
	width: 694px;
	height: 104px;
}

#s19_h1 {
	top: 50px;
	left: 505px;
	width: 82px;
	height: 27px;
}

#s19_h2 {
	top: 134px;
	left: 276px;
	width: 694px;
	height: 329px;
}

#s20_h1 {
	top: 155px;
	left: 507px;
	width: 209px;
	height: 30px;
}